<div class="search-container">
  <mat-form-field class="full-width">
    <mat-label>Search</mat-label>
    <div class="input-field">
      <input
        matInput
        #inputField
        placeholder="Artist"
        type="text"
        [(ngModel)]="searchInput"
      />
    </div>
  </mat-form-field>
  <button
    [disabled]="!searchInput"
    mat-button
    color="success"
    (click)="onSearch(searchInput, 'track')"
  >
    <img src="../../assets/play-button(1).svg" alt="" />
  </button>
</div>
<div class="container" *ngIf="trackSearched">
  <div *ngFor="let items of searchDataArray">
    <p>{{items.id}}</p>
    <iframe
      [src]="'https://open.spotify.com/embed/track/2r6OAV3WsYtXuXjvJ1lIDi' | safe"
      width="250"
      height="330"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
      ></iframe>
  </div>

</div>

<div class="player-container" *ngIf="playbackId">
  <iframe
    data-aos="fade-in"
    data-aos-duration="3000"
    [src]="'https://open.spotify.com/embed/' + playbackId | safe"
    width="1000"
    height="800"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"
  ></iframe>
</div>
