@import "../../../const.scss";
.search-container {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 70px;
  padding: 20px;
}
.full-width {
  width: 400px;
}
::ng-deep .mat-form-field {
  .mat-input-element {
    background-color: transparent;
    color: #fff;
  }
  .mat-form-field-underline {
    background-color: $neon-green;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #fff;
  }
  .mat-form-field-ripple {
    background-color: $neon-green;
  }
  .mat-form-field-required-marker {
    color: $neon-green;
  }
}
button:disabled {
  cursor: not-allowed;
}

.player-container {
  @include center;
  margin-top: 70px;
  margin-bottom: 100px;
}
.row {
  display: flex;
  justify-content: center;
}
