@import "../../../const.scss";
.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.row {
  @include center;
}
img {
  width: 100%;
}
.img-container {
  position: relative;
  margin-bottom: 20px;
}
.hover-info {
  align-items: center;
  background: #616161b7;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  left: 0;
  padding-top: 30%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.img-container:hover .hover-info {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.name {
  align-items: center;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  left: 0;
  position: absolute;
  top: 80%;
  right: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
}
