/* You can add global styles to this file, and also import other style files */
* {
  color: #fff;
}
html,
body {
  height: 100%;
  background-color: #000000;
  background-image: url(./assets/music-is-life1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #47f9ff;
}
