.full-width {
  width: 200px;
}
::ng-deep .mat-form-field {
  .mat-input-element {
    color: #fff;
  }
  .mat-form-field-underline {
    background-color: #fff;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #50dcff;
  }
  .mat-form-field-ripple {
    background-color: #50dcff;
  }
  .mat-form-field-required-marker {
    color: #50dcff;
  }
  .mat-input-element {
    color: #ffffff;
  }
}

.container {
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
