@import "../../const.scss";
body {
  min-height: 95vh;
}
mat-tab-group {
  @include center;
  padding-top: 100px;
}

.container {
  @include center;
  padding-top: 100px;
  margin-bottom: 60px;
}

.mat-tab-link {
  color: #ffffff;
}
.active-link {
  border-bottom: 2px solid $neon-green;
  color: #ffffff;
  font-size: 18px;
}
img {
  width: 100%;
}
a {
  font-size: 16px;
}
.footer {
  display: flex;
  justify-content: center;
}
